

.background-image {
    background-size: cover;
    background-position: center;
    height: 606px;  
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}